@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'github-syntax-dark/lib/github-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply w-screen h-screen overflow-auto flex flex-col items-center bg-zinc-800 text-neutral-300 font-poppins;
  }
  .label {
    @apply bg-sky-600 px-2 mt-2 font-semibold rounded-xl text-zinc-800;
  }
  .label-selected {
    @apply bg-sky-800 px-2 mt-2 font-semibold rounded-xl text-neutral-300;
  }
}
